TgCrypto
git+https://github.com/subinps/pyrogram.git@session
py-tgcalls==0.8.3
gTTS
googletrans==4.0.0rc1
yt_dlp
requests
aiohttp
aiofiles
asyncio
wget
pillow
python-arq
youtube-search-python==1.4.6
python-dotenv
